name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: barsatKhadka
          template: classic
          config_timezone: America/Chicago

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used

          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit

          plugin_lines: yes

          plugin_sponsorships: yes
